<div class="card columns is-centered my-2">
  <div class="card-content column mx-3">
    <a href="/dashboard/post/{{id}}">
      <h4 class="title is-4 mb-2">{{title}}</h4>
    </a>
    <p class="content">{{text}}</p>
    <p>{{format_date createdAt}}</p>
  </div>
</div>