<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Tech Blog</h1>
  </header>


<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
     <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        
        {{#if loggedIn}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/dashboard">
            Welcome! {{user.username}}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/dashboard">
              Dashboard
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/api/users/logout">
              Logout
            </a>
          </div>
        </div>
        {{/if}}
      </div>

     {{#unless loggedIn}}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login">
              Log in
            </a>
          </div>
        </div>
      </div>
      {{/unless}}
    </div>
  </nav>
<script>
    (function () {
      var burger = document.querySelector('.navbar-burger');
      var menu = document.querySelector('.navbar-menu');
      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
      });
    })();
  </script>

  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>
</body>

</html>