<div class="row justify-space-between-md">
  <div class="login-card">
    <h1 class="title has-text-centered">Login</h1>
    <form id="form-login">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input id="email-login" class="input" type="email" name="email" placeholder="Your Email" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input id="password-login" class="input" type="password" name="password" placeholder="Your Password" required>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit">Login</button>
        </div>
      </div>

      <script src="/js/login.js"></script>